
  
<div class="form">
  <h1 id="registration" style="text-align: center;">  Registeration Form</h1>   
      <form (ngSubmit)="Onsubmit(myform)" #myform="ngForm"> 
        <div class="container">  
          
              
            <div ngModelGroup="personalDetails" #personalDetails="ngModelGroup"> 
                <div><label> Firstname </label>   
                     <input type="text" id="fname" placeholder= "Firstname" size="15" name="firstname" ngModel required/>
                  
                
                   <small *ngIf="fname.invalid && fname.touched">firstname is required</small>
                    <span *ngIf="firstname">You entered{{firstname}}</span> 
                </div> 
                 <div>
                  <label> Lastname: </label>    
                  <input type="text" id="lname" placeholder="Lastname" size="15" name="lastname" ngModel required/> 
                 </div> 
                 <div>
                  <small *ngIf="lname.invalid && lname.touched">lastname is required</small>
                 </div> 
                 <div>  
                  <label>  
                    <label for="email"><b>Email</b></label>  
                  <input type="text" placeholder="Enter Email" name="email" id="email" ngModel required email>  
                  </label>
                </div>
                <div>
                  <small *ngIf="personalDetails.invalid && personalDetails.touched">Some of the required fields are not valid</small>
                </div>
                <div>
                  <button (click)="setDefaultValues()">Set DefaultValue</button>
                </div>
             </div>
              <div>
                  <label for="country">
                    Country :  
                  </label>   
                    
                    <select id="country" name="country" ngModel>  
                    <option value="australia">Australia</option>  
                    <option value="usa">USA</option>  
                    <option value="uk">UK</option>  
                    <option value="canada">Canada</option>  
                    <option value="india">India</option>  
                    
                    </select>  
              </div> 
              
              <div>
                    <label for="gender">   
                      Gender :  
                      </label>
                      <span *ngFor="let gen of gender">  
                          <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" [ngModel]="defaultgender" >    
                          <label for="male">{{gen.value}}</label>
                      </span> 
              </div>
              <!--<div>  
                  <label for="gender">   
                  Gender :  
                  </label><br>  
                  <input type="radio" value="Male" name="gender" ngModel > Male   
                  <input type="radio" value="Female" name="gender"ngModel> Female   
                  <input type="radio" value="Other" name="gender" checked ngModel> Other 
              </div> -->
              <div>
                <label>   
                  Hobbies (optional)  
                  </label><br>  
                  <input type="checkbox" name="hobbies" ngModel> Sports   
                  <input type="checkbox" name="hobbies" ngModel> Movies   
                  <input type="checkbox" name="hobbies" ngModel> Music 
              </div>  
            
              <button type="submit" value="submit" class="registerbtn" >Submit</button>  <!--[disabled]="!myform.valid"-->  
        </div> 


     </form>
</div>